<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{{url_for('index') }}">Home</a>
    <div class="row">
        {% for wine in gallery %}
            <div class="card">
                <img src="{{ url_for('static', filename=wine.image_path) }}" class="card-img-top" alt="{{ wine.product }}">
                <div class="card-body">
                    <h5>{{ gallery.product }}</h5>
                    <p >{{ gallery.description }}</p>
                    <p>Price: ${{ gallery.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>