<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monate Wines and Drinks - Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
  <header>
    <h1>Create an Account</h1>
    <p>Join Monate Wines and Drinks to enjoy exclusive benefits!</p>
  </header>

  <nav> 
    <ul>
      <li><a href="{{url_for('index') }}">Home</a></li>
    
      <!-- Add other navigation links as needed -->
    </ul>
  </nav>


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
              {{ message }}
          </div>
      {% endfor %}
  {% endif %}
  {% endwith %}

  <section>
    <h2>Signup Form</h2>
    <form action="/signup" method="post">

      <label for="nm">Name:</label>
      <input type="text" id="nm" name="customer_name" required><br><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required> <br><br>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>

      <button type="submit">Signup</button>
    </form>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>

    <p>Already have an account? <a href="/login">Login</a></p>

  </section>

  <footer>
    <p>&copy; 2024 Monate Wines and Drinks. All rights reserved.</p>
  </footer>
</body>
</html>
